<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goldenbrother.gbmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gbtake"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.MobileServiceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SignUpActivity" />
        <activity
            android:name=".activity.EventChatActivity"
            android:windowSoftInputMode="adjustPan" />

        <!-- Receive InstanceID For First Time -->
        <service android:name=".fcm.GBInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Receive Message -->
        <service android:name=".fcm.GBFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="goldenbrother.gbmobile.helper.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name=".activity.AddEventUserActivity" />
        <activity android:name=".activity.ServiceChatActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.OnLineSettingActivity" />
        <activity android:name=".activity.QuickRepairActivity" />
        <activity android:name=".activity.SatisfactionIssueActivity" />
        <activity android:name=".activity.AddEventActivity" />
        <activity android:name=".activity.ClubListActivity" />
        <activity android:name=".activity.ClubPostActivity" />
        <activity android:name=".activity.AddClubPostActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.AddClubPostMessageActivity" />
        <activity android:name=".activity.ClubPostMediaActivity" />
        <activity android:name=".activity.AnnouncementListActivity" />
        <activity android:name=".activity.AnnouncementContentActivity" />
        <activity android:name=".activity.PackageListActivity" />
        <activity android:name=".activity.QRReaderActivity" />
        <activity android:name=".activity.ChartActivity" />
        <activity android:name=".activity.MedicalListActivity" />
        <activity android:name=".activity.MedicalPatientInfoActivity" />
        <activity android:name=".activity.MedicalRecordActivity" />
        <activity android:name=".activity.RepairRecordActivity" />
        <activity android:name=".activity.RepairRecordContentActivity" />
        <activity android:name=".activity.SatisfactionQuestionActivity" />
        <activity android:name=".activity.MedicalSymptomActivity" />
        <activity android:name=".activity.MedicalProcessStatusActivity" />
        <activity android:name=".activity.MedicalTrackProcessActivity" />
        <activity android:name=".activity.MedicalFileUploadActivity" />
        <activity android:name=".activity.SignatureActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.PackageResultActivity" />
        <activity android:name=".activity.CropActivity" />
        <activity android:name=".activity.WebViewActivity"></activity>
        //your activity declarations and other stuff
        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}" />
    </application>

</manifest>