<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goldenbrother.gbmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".exception.MyApplication">
        <activity
            android:name=".activity.PermissionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MobileServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EventChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="goldenbrother.gbmobile.helper.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.AddEventUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnLineSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuickRepairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SatisfactionIssueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClubListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClubPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddClubPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddClubPostMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClubPostMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnnouncementListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnnouncementContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PackageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicalListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicalRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RepairRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RepairRecordContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SatisfactionQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicalSymptomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicalProcessStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicalTrackProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PackageResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!-- Receive InstanceID For First Time -->
        <service android:name=".fcm.GBInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Receive Message -->
        <service android:name=".fcm.GBFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".activity.DiscussionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DiscussionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DiscussionFlaborInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>